.nav-pills li a:hover{
    background-color: #FFB700;
}
.logo-Sidebar {
    width: 45%;
    height: auto; /* Maintain aspect ratio */
  }
  @media (max-width: 767px) {
    .logo-Sidebar {
      width: 20%;
    }
  }
  @media (min-width: 768px) {
    .logo-Sidebar {
      width: 70%;
    }
  }
  
  @media (min-width: 992px) {
    .logo-Sidebar {
      width: 70%;
    }
  }
