.form-control-plain {
  border: none;
  border-radius: 0;
  box-shadow: none; 
  background-color: transparent; 
  outline: none; 
}

.border-bottom {
  border-bottom: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out; 
}

.border-bottom:focus {
  border-color: #80bdff; 
}

.input-centered {
  text-align: center;
}