.color-primary{
    color: #2267CA;
}
.color-grey{
    color: #979797;
}
.color-mango{
    color: #FFB700;
}
.bgcolor-offwhite{
    background-color: #F3F3F3;
}
.bgcolor-lightBlue{
    background-color: #C8DFFF;
}
.bgcolor-primary{
    background-color: #2267CA;
}
.bgcolor-grey{
    background-color: #979797;
}



.border-radius{
    border-radius: 30px;
}

.main-container-border-radius{
    border-top-left-radius: 80px;
}

.container-sm{
    border-radius: 20px;

}

.small-pig-logo{
    width: 2px;
    height: auto;
}

@media (max-width: 768px) {
    .main-container-border-radius{
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding: 1.5rem;
        padding-top: 2rem;
    }
  
    sidebar-open #content {
      margin-left: 0;
    }

  }

@media (min-width: 768px) {
    .main-container-border-radius{
        border-top-left-radius: 3px;
    }
    
}
  